<div class="row ingredients">
    <div class="col-12 col-lg-7 inhalt-left">
        <h2 class="detail-headline headlinewithline">Zutaten</h2>
        <div class="detail-division division-wide division-right">
            <div>
                <table itemprop="nutrition" class="table-ingredients">
                    <thead>
                    <tr>
                        <th><span class="nutrition-title--label">Durchschnittliche Nährwerte</span></th>
                        <th><span class="nutrition-title--value">pro 100 g</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span class="nutrition--label nutrition--energy">Brennwert (in kj/kcal)</span></td>
                        <td><span class="nutrition--value nutrition--energy">{{ page.product.customFields.migration_1001Frucht_product_kj }} / {{ page.product.customFields.migration_1001Frucht_product_kcal }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="nutrition--label nutrition--fat">Fett</span></td>
                        <td><span class="nutrition--value nutrition--fat">{{ page.product.customFields.migration_1001Frucht_product_fett }}</span></td>
                    </tr>
                    <tr>
                        <td><span class="nutrition--label nutrition--saturates">&nbsp; &nbsp;davon gesättigte
Fettsäuren</span></td>
                        <td><span class="nutrition--value nutrition--saturates">{{ page.product.customFields.migration_1001Frucht_product_ges_fettsaeuren }}</span></td>
                    </tr>
                    <tr>
                        <td><span class="nutrition--label nutrition--carbohydrate">Kohlenhydrate</span></td>
                        <td><span class="nutrition--value nutrition--carbohydrate">{{ page.product.customFields.migration_1001Frucht_product_kohlenhydrate }}</span></td>
                    </tr>
                    <tr>
                        <td><span class="nutrition--label nutrition--sugars">&nbsp; &nbsp;davon Zucker</span></td>
                        <td><span class="nutrition--value nutrition--sugars">{{ page.product.customFields.migration_1001Frucht_product_nw_zucker }}</span></td>
                    </tr>
                    <tr>
                        <td><span class="nutrition--label nutrition--fibre">Ballaststoffe</span></td>
                        <td><span class="nutrition--value nutrition--fibre">{{ page.product.customFields.migration_1001Frucht_product_ballaststoffe }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="nutrition--label nutrition--protein">Eiweiß</span></td>
                        <td><span class="nutrition--value nutrition--protein">{{ page.product.customFields.migration_1001Frucht_product_eiweiss }}</span></td>
                    </tr>
                    <tr>
                        <td><span class="nutrition--label nutrition--salt">Salz</span></td>
                        <td><span class="nutrition--value nutrition--salt">{{ page.product.customFields.migration_1001Frucht_product_salzgehalt }}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>
    <div class="col-12 col-lg-5 inhalt-right ">
    </div>
</div>