{% sw_extends '@Storefront/storefront/page/product-detail/headline.html.twig' %}

{% block page_product_detail_name_container %}
	{% set price = page.product.calculatedPrice %}
	{% if page.product.calculatedPrices.count > 0 %}
		{% set price = product.calculatedPrices.last %}
	{% endif %}

	{% set listPrice = price.listPrice.percentage > 0 %}
	{% set hasRange = product.calculatedPrices.count > 1 %}

	{% if listPrice and not hasRange %}
		{% block page_product_detail_was_price_badge %}
			<p class="product-detail-price-discount">{{ "detail.sale"|trans|sw_sanitize }}</p>
		{% endblock %}
	{% endif %}

	<div class="product-detail-name-container">
		{{ block('page_product_detail_name') }}
	</div>
	{% if page.product.translated.customFields.migration_1001Frucht_product_bioprodukt %}
	<div class="bio-produkt" style="position: absolute; top: 72px; right: -70px; width: 70px;">
		<img style="height: 39px;" alt="BIO - DE-ÖKO-037" src="/bundles/act1001fruchttheme25/svg/Organic-Logo.svg?16679180384052">
		<span style="font-size: 10px;">DE-ÖKO-037</span>
	</div>
	{% endif %}

	<ul class="act-bullets">
		{% if page.product.translated.customFields.migration_1001Frucht_product_bullet_point_1 %}
			<li>
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"/>
					</svg>
				</div>

				{{ page.product.translated.customFields.migration_1001Frucht_product_bullet_point_1 }}
			</li>
		{% endif %}
		{% if page.product.translated.customFields.migration_1001Frucht_product_bullet_point_2 %}
			<li>
				<div>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"/>
				</svg>
				</div>
				{{ page.product.translated.customFields.migration_1001Frucht_product_bullet_point_2 }}
			</li>
		{% endif %}
		{% if page.product.translated.customFields.migration_1001Frucht_product_bullet_point_3 %}
			<li>
				<div>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"/>
				</svg>
				</div>

				{{ page.product.translated.customFields.migration_1001Frucht_product_bullet_point_3 }}
			</li>
		{% endif %}
		{% if page.product.translated.customFields.migration_1001Frucht_product_bullet_point_4 %}
			<li>
				<div>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"/>
				</svg>
				</div>

				{{ page.product.translated.customFields.migration_1001Frucht_product_bullet_point_4 }}
			</li>
		{% endif %}

	</ul>



{% endblock %}

{% block page_product_detail_manufacturer %}{% endblock %}
